# Uber Data Project
# Analyse by Qinhao/a362389462
Welcome to Uber Data Project for May 2014. I found this data set on Kaggle, and I think this data set, first of all, is easy to analyze and has clear coordinates. Secondly, because I don't have a car, I often take Uber, so I have a strong interest in this data. Although this data set may be a little outdated, I think it still produces a number of interesting phenomena

# All the stuffs start here!

In [1]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
from datetime import datetime

In [2]:
%matplotlib inline

In [3]:
plt.rcParams['figure.figsize'] = (10, 5)

In [4]:
saved_style_state = matplotlib.rcParams.copy() #give us a style state to go back to

#  Input/load our dataset here

In [5]:
if os.path.isfile("uber-raw-data-may14.csv"):
    filepath = "uber-raw-data-may14.csv"
    print("loading from file")
else:
    filepath = "https://github.com/fivethirtyeight/uber-tlc-foil-response/blob/master/uber-trip-data/uber-raw-data-may14.csv"
    print("loading from the internet")

penalty_data = pd.read_csv(filepath)

print("done")

loading from file
done

# We could just take a overlook to this lovely dataset, totally 652435 rows and 4 columns. It is a raw dataset cause we could not get the correct data because of privacy.

In [6]:
penalty_data

                 Date/Time      Lat      Lon    Base
0         5/1/2014 0:02:00  40.7521 -73.9914  B02512
1         5/1/2014 0:06:00  40.6965 -73.9715  B02512
2         5/1/2014 0:15:00  40.7464 -73.9838  B02512
3         5/1/2014 0:17:00  40.7463 -74.0011  B02512
4         5/1/2014 0:17:00  40.7594 -73.9734  B02512
...                    ...      ...      ...     ...
652430  5/31/2014 23:45:00  40.7309 -74.0014  B02764
652431  5/31/2014 23:52:00  40.7528 -73.9798  B02764
652432  5/31/2014 23:55:00  40.7158 -73.9519  B02764
652433  5/31/2014 23:56:00  40.6961 -73.8997  B02764
652434  5/31/2014 23:59:00  40.7393 -73.9919  B02764

[652435 rows x 4 columns]